<div id="janus" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carousel2/janus.jpg" alt="">
    <mat-tab-group class="mt-3" style="min-height: 100vh;" mat-align-tabs="center">
      <mat-tab label="Información">
        <ng-template matTabContent>
          <p class="mt-3 pl-5 poppins">Sistema de análisis Facial con tres tipos de iluminaciones para brindar
            resultados precisos.
          </p>
          <legend class="pl-5 poppins">Analiza</legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Poros</li>
            <li>Arrugas</li>
            <li>Elasticidad</li>
            <li>Pigmentaciones</li>
            <li>UV Pigmentaciones</li>
            <li>Tono de piel</li>
            <li>Porfirina</li>
            <li>Cantidad de sebo</li>
            <li>Humectación</li>
          </ul>
          <img src="assets/images/carousel2/janus2.png" alt="" class="shadow d-block mx-auto">
          <img src="assets/images/carousel2/janus1.png" alt="" class="shadow pt-3 d-block mx-auto">
          <legend class="mt-3 pl-5 poppins">Especificaciones</legend>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Cámara</li>
            <li class="list-inline-item">Cannon 200D DSLR</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Pixeles</li>
            <li class="list-inline-item">24.2 Mega Pixeles</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Lente</li>
            <li class="list-inline-item">Cannon 18-55mm IS STM</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Fuente de luz</li>
            <li class="list-inline-item">Normal, Polarizada y UV</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Tamaño / Peso</li>
            <li class="list-inline-item">40(W)x39(D)x50(H)/8.1Kg</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Resolución</li>
            <li class="list-inline-item">1920x1080(16:9)</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Lenguajes soportados</li>
            <li class="list-inline-item">Koreano, Ingles, Chino, Japones, Taiwanes, Ruso, Vietnamita, <br>
              Alemán, Francés, Portugues, Italiano y Hungaro. (12 lenguajes en total)</li>
          </ul>
          <legend class="mt-3 pl-5 poppins">Video</legend>
          <div class="text-center">
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ub9VUKUD9LE" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>