<div id="featuredProducts" class="carousel slide carousel-fade mt-2" data-ride="carousel">
  <div class="carousel-inner mx-auto">
    <div class="carousel-item active" data-interval="5000">

      <img src="assets/images/carusel1/imagen6/TRUSCULPTedit.png" class="w-100" alt="">
      <button class="carousel-button6 hvr-grow-shadow" routerLink="/trusculpt" mat-raised-button>Leer más )</button>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="assets/images/carusel1/imagen2/ENDYMED sin leer mas.png" class="w-100" alt="">
      <button class="carousel-button2 hvr-grow-shadow" mat-raised-button>Leer más )</button>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="assets/images/carusel1/imagen3/MCL31 SIN LEER MAS.png" class="w-100" alt="">
      <button class="carousel-button3 hvr-grow-shadow" mat-raised-button>Leer más )</button>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="assets/images/carusel1/imagen4/JULIET SIN LEER MAS.png" class="w-100" alt="">
      <button class="carousel-button4 hvr-grow-shadow" mat-raised-button>Leer más )</button>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="assets/images/carusel1/imagen5/CUTERA.png" class="w-100" alt="">
      <button class="carousel-button5 hvr-grow-shadow" mat-raised-button>Leer más )</button>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="assets/images/carusel1/imagen1/MEDIOSTAR SIN LEER MAS.png" class="w-100" alt="">
      <button class="carousel-button1 hvr-grow-shadow" mat-raised-button>Leer más )</button>
    </div>
  </div>
  <a class="carousel-control-prev" href="#featuredProducts" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#featuredProducts" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>