<div id="formalight" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carousel2/formalight_rect.jpg" alt="">
    <mat-tab-group class="mt-3" style="min-height: 110vh;" mat-align-tabs="center">
      <mat-tab label="Informacion">
        <ng-template matTabContent>
          <p class="poppins pl-5 mt-5">Plataforma dermatológica de Luz Pulsada Intensa (IPL). La primera en ser de
            origen argentino-israelí. ﻿Posee tres aplicadores fabricados en Israel: uno de 530nm (para tratar lesiones
            vasculares, lesiones pigmentarias y demás lesiones causadas por fotodaño) otro, de 590nm, para depilación
            (Es capaz de tratar hasta fototipo VI) y un tercero para tratar onicomicosis. Todos fabricados en Israel.
          </p>
          <p class="poppins pl-5">Es una plataforma liviana, ideal para transportar; de fácil instalación y rápido
            encendido.</p>
          <p class="poppins pl-5">Primer equipo de luz pulsada de alta calidad accesible para el médico que recién
            comienza.</p>
          <p class="poppins pl-5">Equipo diseñado en Israel y ensamblado en Tierra del Fuego, el parque industrial de
            alta tecnología de Argentina.</p>
          <p class="poppins pl-5">Para conocer más acerca de este producto, visite la página: <a
              href="https://forma-tk.com/forma-light/" target="_blank">https://forma-tk.com/forma-light/</a></p>
          <legend class="pl-5 poppins">Características</legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Plataforma liviana y portátil.</li>
            <li>Rápido encendido.</li>
            <li>Pantalla LCD, Touch-Screen.</li>
            <li>Interfaz intuitiva y en español.</li>
            <li>Incluye 2 aplicadores, uno para depilación definitiva y otro para foto-rejuvenecimiento, con 60.000
              disparos garantizados en un área de trabajo grande -50 x 10mm-. Energía máxima de 22 J/Cm2.</li>
            <li>Sistema de enfriamiento por aire</li>
            <li>Memoria flash para programación incluida</li>
            <li>Control del ancho de pulso de 3 a 55ms.</li>
            <li>Modo de pulso simple y doble</li>
            <li>Gran calidad de manufactura: chasis 100% metal y cobertura plástica de alta densidad.</li>
          </ul>
        </ng-template>
      </mat-tab>
      <mat-tab label="Aplicadores">
        <ng-template matTabContent>
          <table class="table mt-5 mb-5 poppins table-hover">
            <thead>
              <tr class="table-primary">
                <td>HR 590</td>
                <td>SR 530</td>
                <td>HR 650</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img class="d-block mx-auto" src="assets/images/carousel2/formalight_1.png" alt=""></td>
                <td><img class="d-block mx-auto" src="assets/images/carousel2/formalight_1.png" alt=""></td>
                <td><img class="d-block mx-auto" src="assets/images/carousel2/formalight_1.png" alt=""></td>
              </tr>
              <tr>
                <td>Depilación permanente</td>
                <td>Tratamiento de arrugas para todos los tipos de piel</td>
                <td>Depilación permanente. (piel oscura)</td>
              </tr>
              <tr>
                <td>Rosásea</td>
                <td>Tensado de la piel</td>
                <td>Se puede aplicar en rostro, espalda, brazos y piernas</td>
              </tr>
              <tr>
                <td>Periobitales</td>
                <td>Tratamiento de lesiones vasculares y de pigmentación benigna superficia</td>
                <td></td>
              </tr>
              <tr>
                <td>Telangectásias</td>
                <td>Tratamiento de acné</td>
                <td></td>
              </tr>
              <tr>
                <td>Se puede aplicar en rostro, espalda, brazos y piernas</td>
                <td>Pecas</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Manchas</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Se puede aplicar en rostro, cuello, manos, brazos y piernas</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Especificaciones Técnicas">
        <ng-template matTabContent>
          <table class="table mt-5 mb-5 poppins table-hover">
            <tbody>
              <tr>
                <td style="font-weight: bold;">Área de tratamiento</td>
                <td>HR/SR</td>
                <td>6.5, 3, 1.6 cm<sup>2</sup></td>
                <td>Basado en un 10% de superposición en un tratamiento</td>
              </tr>
              <tr>
                <td></td>
                <td>AC</td>
                <td>1.6 cm<sup>2</sup></td>
                <td>Basado en un 10% de superposición en un tratamiento</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Fluencia Máxima</td>
                <td>HR</td>
                <td>20 J/cm<sup>2</sup></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>SR/AC</td>
                <td>20 J/cm<sup>2</sup></td>
                <td></td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Filtros</td>
                <td>430, 530, 600, 650 nm</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Anchos de púlso</td>
                <td>3-55 msec</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Modos de púlso</td>
                <td>simple, doble o continuo</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Pulsos de pieza IPL máximos</td>
                <td>50,000-200,000 basado en tipo de pieza y modo de pulso</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Tamaño del equipo</td>
                <td>33x40x33 cm<sup>3</sup></td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Tamaño del equipo y el carro</td>
                <td>104x47x47 cm<sup>3</sup></td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Peso</td>
                <td>Equipo formalight 7.5Kg, Formalight y carro 13Kg</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Lenguajes soportados</td>
                <td>Inglés, Español, Francés, Italiano, Ruso y Alemán</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>