<div id="quienes-somos">
  <div id="titulo" class="container-fluid">
    <p class="ml-5 text-uppercase">QUIÉNES SOMOS</p>
  </div>
  <div class="container">
    <mat-tab-group>
      <mat-tab label="SKIN MEDICAL">
        <div class="poppins">
          <img class="pt-5 ml-5" src="assets/images/quienes-somos/SKINMEDICAL.png" alt="">
          <h1 class="ml-5">Skin Medical</h1>
          <p class="ml-5">Somos una empresa especializada en la distribución de productos y equipos de compañías líderes
            a nivel internacional en el campo de la medicina estética, dermatología médica, cirugía plástica, medicina
            antienvejecimiento y spas.</p>
          <p class="ml-5">Contamos con un extenso portafolio de equipos y productos de calidad donde nuestros clientes
            podrán elegir la tecnología más adecuada a sus necesidades o presupuesto.</p>
        </div>
      </mat-tab>
      <mat-tab label="MISION">
        <img class="pt-5" src="assets/images/quienes-somos/MISION1.png" alt="">
        <h1 class="ml-5">Misión</h1>
        <p class="ml-5">Proporcionar los últimos avances de equipos médicos y productos en el área de la medicina
          dermatológica y estética.</p>
      </mat-tab>
      <mat-tab label="VISION">
        <img class="pt-5" src="assets/images/quienes-somos/VISION1.png" alt="">
        <h1 class="ml-5">Visión</h1>
        <p class="ml-5">Ser líderes en ofrecer tecnología médica de última generación en el área de la medicina estética
          y clínica. </p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>