<div id="quienes-somos">
  <div id="titulo" class="container-fluid">
    <p class="text-center text-uppercase">QUIÉNES SOMOS</p>
  </div>
  <div class="container">
    <mat-tab-group>
      <mat-tab label="SKIN MEDICAL">
        <div class="poppins">
          <p class="ml-5">Somos una empresa especializada en la distribución de productos y equipos de compañías líderes
            a nivel internacional en el campo de la medicina estética, dermatología médica, cirugía plástica, medicina
            antienvejecimiento y spas.</p>
          <p class="poppins ml-5">Contamos con un extenso portafolio de equipos y productos de calidad donde nuestros
            clientes
            podrán elegir la tecnología más adecuada a sus necesidades o presupuesto.</p>
          <p class="poppins ml-5">Doctores líderes de opinión nacionales e internacionales respaldan nuestros productos
            y servicios.</p>
        </div>
      </mat-tab>
      <mat-tab label="MISION">
        <p class="poppins ml-5">Proporcionar los últimos avances de equipos médicos y productos en el área de la medicina
          dermatológica/estética y de proveer un servicio postventa que nos separe de la competencia.</p>
      </mat-tab>
      <mat-tab label="VISION">
        <p class="poppins ml-5">Ser el mejor proveedor de herramientas y servicios del ámbito dermatológico/estético, con el fin
          de que los especialistas mejoren su práctica diaria y así la calidad de vida de sus pacientes.</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>