<button class="d-block ml-auto" mat-button *ngIf="_authService.isLogged()">{{_authService.getNombre()}}</button>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" routerLink="/inicio">
    <img src="assets/images/logo/logo.svg" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sm-nav-bar"
    aria-controls="sm-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mt-auto" id="sm-nav-bar">
    <ul class="navbar-nav ml-auto mb-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">PRODUCTOS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="especialidad" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          ESPECIALIDAD
        </a>
        <div class="dropdown-menu" aria-labelledby="especialidad">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!_authService.isLogged()" routerLink="/webclub">WEB CLUB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/quienes_somos">QUIENES SOMOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reporte">SERVICIO TECNICO</a>
      </li>
    </ul>
  </div>
</nav>

<mat-menu #especialidad="matMenu">

  <button mat-menu-item>Estética</button>
  <button mat-menu-item>Dermatología</button>
</mat-menu>