<div id="trusculpt" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carousel2/cavix_info.jpg" alt="">
    <mat-tab-group class="mt-3" style="min-height: 100vh;" mat-align-tabs="center">
      <mat-tab label="Información">
        <ng-template matTabContent>
          <p class="mt-3 pl-5 poppins">Cavix es un avanzado modelador corporal que utiliza ondas de ultrasonido de baja
            frecuencia para reducir tejido graso. Este método -llamado cavitación- actúa sobre las células adiposas
            mismas que, al ser sometidas a una compresión y descompresión sucesiva, se autodestruyen liberando así su
            contenido para ser metabolizado de manera natural por el cuerpo.
          </p>
          <legend class="pl-5 poppins">Características</legend>
          <p class="mt-3 pl-5 poppins">Cavix elimina eficazmente el tejido adiposo, gracias a su sistema de baja
            frecuencia (36
            a 44 KHz) el cual llega a profundidades que las altas frecuencias no logran.</p>
          <p class="pl-5 poppins">El proceso de eliminación de células grasas que utiliza Cavix reduce el colágeno
            esclerótico, típico de la celulitis, además, estimula la circulación sanguínea (en el área tratada) y la
            producción de nuevo colágeno mejorando notablemente el aspecto exterior de la piel.
          </p>
          <img src="assets/images/carousel2/cavix1.png" alt="" class="shadow d-block mx-auto">
          <p class="mt-3 pl-5 poppins">También una vez que se utiliza el Cavix se da lugar a la reducción del colágeno
            esclerótico, típico de la celulitis y también estimula la circulación sanguínena y generación de nuevo
            colágeno mejorando también el aspecto exterior de la celulitis.</p>
          <img src="assets/images/carousel2/cavix2.png" alt="" class="shadow d-block mx-auto">
          <p class="mt-3 pl-5 poppins">Actúa en la remodelación corporal</p>
          <p class="pl-5 poppins">Mejora el aspecto exterior de la celulitis</p>
          <p class="pl-5 poppins">Pre y pos liposucción.</p>
          <legend class="pl-5 poppins">Áreas de utilización</legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Abdomen (lateral y central)</li>
            <li>Glúteos</li>
            <li>Pantalón de montar</li>
            <li>Piernas</li>
            <li>Brazos</li>
          </ul>
          <legend class="pl-5 poppins">Video</legend>
          <div class="text-center">
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cQopUw_PS1Q" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>