<div id="nextpro" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carousel2/mediostar_rect.png" alt="">
    <mat-tab-group class="mt-3" style="min-height: 110vh;" mat-align-tabs="center">
      <mat-tab label="Informacion">
        <ng-template matTabContent>
          <p class="ml-5 poppins mt-5">La Nueva Generación de láser de diodo para depilación. Más potente, seguro,
            rápido y
            versátil. Mediostar Next cuenta con aplicaciones para depilación, rejuvenecimiento, blanqueamiento, acné y
            lesiones vasculares.</p>
          <legend class="poppins pl-5">Características</legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Tecnología Alemana, última generación de láser de diodo. Con protocolos de tratamiento incluidos para
              depilación, rejuvenecimiento, lesiones vasculares y acné.</li>
            <li>Tecnología con dos longitudes de onda incluidas 810 y 940 nm. Esta dualidad permite minimizar el riesgo
              de hiperpigmentación y trabajar todo tipo de piel.</li>
            <li>Pieza de mano vascular de 940nm disponible para tratar lesiones vasculares de 2mm aprox.</li>
            <li>Equipo con velocidad máxima de 12 HZ. Podemos realizar áreas grandes de 15-20 min.</li>
            <li>Garantía de 2 años incluida, único fabricante de láser en otorgar este plazo de protección.</li>
            <li>Pieza de mano con capacidad de extender su garantía hasta 3 años. Vida del maneral de 15 Millones de
              disparos, la más alta en el mercado para una pieza con láser de diodo.</li>
          </ul>
          <legend class="poppins pl-5">Aplicadores</legend>
          <h5 class="poppins pl-5">Estándar</h5>
          <p class="poppins pl-5"> STD (estándar): Depilación, Acné, Rejuvenecimiento (Blanqueamiento y Skin
            Tightening).</p>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Tamaño de spot: 14 x 10 mm², haz de láser cuadrado y homogéneo</li>
            <li>Fluencia máxima 44 J/cm<sup>2</sup></li>
            <li>Frecuencia máxima 4Hz en modo Profesional, con SmoothPulse máxima 12 Hz.</li>
          </ul>
          <p class="poppins pl-5">VAS (vascular)</p>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Tratamientos vasculares y telangiectasias.</li>
            <li>Tamaño de spot 3 x 4 mm² cuadrado.</li>
            <li>Fluencia máxima 210 J/cm<sup>2</sup></li>
            <li>Frecuencia Máxima 4 Hz.</li>
          </ul>
        </ng-template>
      </mat-tab>
      <mat-tab label="Especificaciones Tecnicas">
        <ng-template matTabContent>
          <table class="table mt-5 mb-5 poppins table-striped table-hover">
            <tbody>
              <tr>
                <td style="font-weight: bold;">Láser</td>
                <td>Diodo de alta potencia</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Longitud de onda</td>
                <td>800 nm a 950 nm</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Ancho de pulso</td>
                <td>Hasta 400 ms</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Entrada de alimentación</td>
                <td>Fuente de alimentación de entrada universal de 100 - 240 VAC</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Dimensiones</td>
                <td>365 x 560 x 465 mm (Ancho x Profundidad x Altura)</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Peso</td>
                <td>35 kg</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Pieza de mano peso</td>
                <td>300 g</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Pantalla</td>
                <td>8,4 "pantalla táctil LCD</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Máxima fluencia</td>
                <td>STD: 47 J / cm<sup>2</sup>, VAS: 210 J / cm<sup>2</sup></td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Velocidad</td>
                <td>4 Hz en modo básico, profesional y vascular<br>12 Hz en modo de pulso suave (SPM)
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Tiempo de vida de diodos</td>
                <td>15 millones de disparos, con opción a recarga</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Garantía en el sistema</td>
                <td>2 años</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Video">
        <div class="text-center mt-5">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/a4RkkUzjH6c" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="text-center mt-3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/GXOQfDK2mUk" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>