<div id="endymed" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen2/ENDYMEDPRO.png" alt="">
    <mat-tab-group class="mt-3" style="min-height: 110vh;" mat-align-tabs="center">
      <mat-tab label="Endymed Pure">
        <ng-template matTabContent>
          <img class="img-fluid d-block mx-auto" src="assets/images/carusel1/imagen2/EndymedPure.png" alt="">
        </ng-template>
      </mat-tab>
      <mat-tab label="Endymed Pro">
        <ng-template matTabContent>
          <img class="img-fluid d-block mx-auto" src="assets/images/carusel1/imagen2/endypro.png" alt="">
        </ng-template>
      </mat-tab>
      <mat-tab label="Videos">
        <ng-template matTabContent>
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vNyQBY_WD8E" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ngt7tqSdrrE" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>









<!-- <legend class="pl-5 poppins">Características</legend>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li>Capacidad para manejar todas las piezas de mano disponibles: facial, corporal, ceriorbital, RF
              fraccionada (FSR), Intensif (microagujas)</li>
            <li>Soluciones para reafirmación de la piel, contorno corporal, celulitis, rejuvenecimiento fraccionado,
              cicatrices e hiperhidrosis.
            </li>
            <li>Opción de integrar piezas adicionales (plan de crecimiento).</li>
            <li>Sin consumibles para las piezas de TC (reafirmación y contorno) y consumibles de bajo costo para las
              piezas fraccionadas.</li>
            <li>Parámetros predeterminados que facilitan el uso y otorgan mejores resultados.</li>
            <li>Tratamientos sin dolor y efectivos gracias a la tecnología 3DEEP.</li>
            <li>Mínimo tiempo de recuperación en procedimientos fraccionados.</li>
            <li>Resultados a corto y largo plazo</li>
          </ul> -->
<!-- <legend class="pl-5 poppins">Especificaciones</legend>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Corriente de entrada</li>
            <li class="list-inline-item">110-120V, 50-60Hz, 2A o 220-240V, 50-60Hz, 1A</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Consumo de energía</li>
            <li class="list-inline-item">220 W</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Fusibles</li>
            <li class="list-inline-item">2 x 1.6A para 220V; 2 x 3.15 A para 110V</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Energía máxima de salida (estiramiento)</li>
            <li class="list-inline-item">65 Wat</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Energía máxima de salida</li>
            <li class="list-inline-item">6 /25W</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Duración de pulso</li>
            <li class="list-inline-item">10 – 60/50-200 msec</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Frecuencia de salida</li>
            <li class="list-inline-item">1MHz+/- 5%</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Dimensiones</li>
            <li class="list-inline-item">115 X 30 X 19 cm</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Peso</li>
            <li class="list-inline-item">33 Kg</li>
          </ul> -->
<!--  -->