<div id="endymed" class="container mt-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen2/ENDYMEDPRO.png" alt=""><br>
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a href="#descripcion" class="nav-link tabs-endymed active" data-toggle="tab">Descripción General</a>
      </li>
      <li class="nav-item">
        <a href="#caracteristicas" class="nav-link tabs-endymed" data-toggle="tab">Características</a>
      </li>
      <li class="nav-item">
        <a href="#especificaciones" class="nav-link tabs-endymed" data-toggle="tab">Especificaciones</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="descripcion">
        <div class="container">
          <p class="mt-3">Endymed Pro – Todas las soluciones que ofrece la radiofrecuencia 3DEEP en un solo equipo. Es
            una plataforma con múltiples aplicaciones lista para utilizarse con todas las piezas de mano disponibles. Se
            ajusta para tratar diferentes zonas del cuerpo, incluyendo parámetros predeterminados que entregan la
            radiofrecuencia de manera óptima para obtener resultados efectivos y seguros en cada área de tratamiento.
          </p>
        </div>
      </div>
      <div class="tab-pane fade" id="caracteristicas">
        <div class="container">
          <ul>
            <li>Capacidad para manejar todas las piezas de mano disponibles: facial, corporal, ceriorbital, RF
              fraccionada (FSR), Intensif (microagujas)</li>
            <li>Soluciones para reafirmación de la piel, contorno corporal, celulitis, rejuvenecimiento fraccionado,
              cicatrices e hiperhidrosis.
            </li>
            <li>Opción de integrar piezas adicionales (plan de crecimiento).</li>
            <li>Sin consumibles para las piezas de TC (reafirmación y contorno) y consumibles de bajo costo para las
              piezas fraccionadas.</li>
            <li>Parámetros predeterminados que facilitan el uso y otorgan mejores resultados.</li>
            <li>Tratamientos sin dolor y efectivos gracias a la tecnología 3DEEP.</li>
            <li>Mínimo tiempo de recuperación en procedimientos fraccionados.</li>
            <li>Resultados a corto y largo plazo</li>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="especificaciones">
        <div class="container">
          <dl class="row">
            <dt class="col-sm-3">Corriente de entrada</dt>
            <dd class="col-sm-9">110-120V, 50-60Hz, 2A o 220-240V, 50-60Hz, 1A</dd>
            <dt class="col-sm-3">Consumo de energía</dt>
            <dd class="col-sm-9">220 W</dd>
            <dt class="col-sm-3">Fusibles</dt>
            <dd class="col-sm-9">2 x 1.6A para 220V; 2 x 3.15 A para 110V</dd>
            <dt class="col-sm-3">Energía máxima de salida (estiramiento)</dt>
            <dd class="col-sm-9">65 Wat</dd>
            <dt class="col-sm-3">Energía máxima de salida</dt>
            <dd class="col-sm-9">6 /25W</dd>
            <dt class="col-sm-3">Duración de pulso</dt>
            <dd class="col-sm-9">10 – 60/50-200 msec </dd>
            <dt class="col-sm-3">Frecuencia de salida</dt>
            <dd class="col-sm-9">1MHz+/- 5%</dd>
            <dt class="col-sm-3">Dimensiones</dt>
            <dd class="col-sm-9">115 X 30 X 19 cm</dd>
            <dt class="col-sm-3">Peso</dt>
            <dd class="col-sm-9">33 Kg</dd>
          </dl>
        </div>
      </div>
    </div>
  </mat-card>
</div>