<div id="studio" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carousel2/studio_rect.png" alt="">
    <mat-tab-group class="mt-3" style="min-height: 110vh;" mat-align-tabs="center">
      <mat-tab label="Informacion">
        <ng-template matTabContent>
          <p class="poppins pl-5 pt-5">El sistema láser Studio consiste en una fuente láser que emite luz Q-Switched en
            longitudes de onda de 1064 nm
            y 532 nm. El modo de funcionamiento libre opcional también está disponible, lo que proporciona a este
            sistema
            un gran rendimiento y flexibilidad. El láser Q-Switched con una longitud de onda de 1064 nm es muy eficaz
            para
            eliminar los tatuajes de color negro y azul, así como para eliminar lesiones pigmentarias benignas de la
            epidermis y
            de la dermis. Con una longitud de onda de 532 nm, el láser Q-Switched es ideal para eliminar tatuajes de
            color rojo,
            amarillo y naranja, así como para eliminar las pigmentaciones benignas de la epidermis.</p>
          <legend class="pl-5 pt-3">Características</legend>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <img src="assets/images/carousel2/studio_1.png" alt="" class="d-block mx-auto">
              </div>
              <div class="col">
                <ul class="poppins pt-5" style="padding-left: 4rem;">
                  <li>Solapamiento más sencillo y preciso de los pulsos</li>
                  <li>20 % menos de tiempo de recuperación para eliminar
                    tatuajes, en comparación con las manchas redondas
                    convencionales y la distribución de energía de Gauss</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Especificaciones Tecnicas">
        <ng-template matTabContent>
          <!-- <table class="table mt-5 poppins table-hover">
            <thead>
              <tr class="table-primary">
                <th scope="col">Láser </th>
                <th scope="col" colspan="2">Nd:YAG</th>
                <th scope="col">FR Modus</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-weight: bold;">Longitud de onda (nm)</td>
                <td>1064</td>
                <td>532</td>
                <td>1064</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Energía (J)</td>
                <td>0.9</td>
                <td>0.45</td>
                <td>2</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Duración del pulso en modo Q-Switchs (ns)</td>
                <td colspan="2">6</td>
                <td>---</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Duración del pulso en modo FR (ms)</td>
                <td colspan="2">---</td>
                <td>100-300</td>
              </tr>
            </tbody>
          </table> -->
          <div class="container-fluid pt-5">
            <div class="row" style="background-color: #b8daff;">
              <div class="col">
                <p class="poppins" style="font-weight: bold;">Láser</p>
              </div>
              <div class="col">
                <p class="poppins text-center" style="font-weight: bold;">Nd:YAG </p>
              </div>
              <div class="col">
                <p class="poppins text-center" style="font-weight: bold;">FR Modus </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">Energía (J)</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <p class="poppins text-center">1064</p>
                  </div>
                  <div class="col">
                    <p class="poppins text-center">0.45</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <p class="poppins text-center">2</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">Longitud de onda (nm)</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <p class="poppins text-center">0.9</p>
                  </div>
                  <div class="col">
                    <p class="poppins text-center">0.45</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <p class="poppins text-center">2</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">
                  Duración del pulso en modo Q-Switchs (ns)
                </p>
              </div>
              <div class="col">
                <p class="poppins text-center">6</p>
              </div>
              <div class="col">
                <p class="poppins text-center">-----</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">
                  Duración del pulso en modo FR (ms)
                </p>
              </div>
              <div class="col">
                <p class="poppins text-center">-----</p>
              </div>
              <div class="col">
                <p class="poppins text-center">100-300</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">
                  Frecuencia (Hz)
                </p>
              </div>
              <div class="col"><p class="poppins text-center">hasta 10</p></div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">
                  Tamaños del spot (mm)
                </p>
              </div>
              <div class="col"><p class="poppins text-center">2 x 2; 3 x 3; 4 x 4; opcionalmente 5 x 5</p></div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">Fluencia en modo Q-Switch (J/cm<sup>2</sup>)</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <p class="poppins text-center">hasta 22.5</p>
                  </div>
                  <div class="col">
                    <p class="poppins text-center">hasta 11.25</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <p class="poppins text-center">-----</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">Fluencia en modo FR (J/cm<sup>2</sup>)</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <p class="poppins text-center">-----</p>
                  </div>
                  <div class="col">
                    <p class="poppins text-center">-----</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <p class="poppins text-center">hasta 50</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins">
                  Medidas y peso
                </p>
              </div>
              <div class="col"><p class="poppins text-center">250 (ancho) x 795 (profundo) x 800 (alto) mm 3 ; 60 kg</p></div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>