<div id="trusculpt" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen6/TRUSCULPT 2.png" alt="">
    <mat-tab-group class="mt-3" style="min-height: 100vh;" mat-align-tabs="center">
      <mat-tab label="Información">
        <ng-template matTabContent>
          <p class="mt-3 pl-5 poppins">La última tecnología de escultura corporal, un equipo de radio frecuencia tope de gama
            que le brinda una solución personalizada para resultados clínicamente comprobados. TruSculpt® iD trata
            todo el tejido adiposo de una manera cómoda y segura, obteniendo una reducción promedio de 24% de grasa
            corporal en una sola sesión.
          </p>
          <legend class="pl-5 poppins">Características</legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Promedio de reducción de grasa del 24%.</li>
            <li>Resultados clínicamente probados para destrucción permanente de células de grasa.</li>
            <li>Control de temperatura en tiempo real para resultados consistentes.</li>
            <li>Rápidos protocolos de tratamiento.</li>
            <li>Seguridad mejorada.</li>
            <li>Alta satisfacción del paciente.</li>
            <li>Trata múltiples áreas del cuerpo simultaneamente</li>
            <li>Protocolos de tratamiento personalizados.</li>
          </ul>
          <legend class="pl-5 poppins">Especificaciones</legend>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Tecnología</li>
            <li class="list-inline-item">Monopolar Radio Frequency (RF)</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Frecuencia</li>
            <li class="list-inline-item">1 MHz / 2 MHz</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Poder máximo</li>
            <li class="list-inline-item">150 W / 300 W</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Area de tratamiento</li>
            <li class="list-inline-item">16 cm<sup>2</sup> / Up to 300 cm<sup>2</sup></li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Dimensiones de la consola</li>
            <li class="list-inline-item">14"W x 17.5"L x 41.5"H</li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Peso de la consola</li>
            <li class="list-inline-item">86 lbs </li>
          </ul>
          <ul class="ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Consola electrica</li>
            <li class="list-inline-item">Voltage: 100 VAC-240 VAC 50/60 Hz, Power: 2000 VA</li>
          </ul>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>