<!-- <div class="container-fluid">
  <div class="container mt-3 pt-3 pb-3" >
    <mat-card><img class="d-block w-100 img-fluid shadow" src="assets/images/carusel1/imagen6/TRUSCULPT 2.png" alt="">
      <p class="mt-3">La última tecnología de escultura corporal, un equipo de radio frecuencia tope de gama
        que le brinda una solución personalizada para resultados clínicamente comprobados. TruSculpt® iD trata
        todo el tejido adiposo de una manera cómoda y segura, obteniendo una reducción promedio de 24% de grasa
        corporal en una sola sesión.
      </p>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Característicias</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>Promedio de reducción de grasa del 24%.</li>
              <li>Resultados clínicamente probados para destrucción permanente de células de grasa.</li>
              <li>Control de temperatura en tiempo real para resultados consistentes.</li>
              <li>Rápidos protocolos de tratamiento.</li>
              <li>Seguridad mejorada.</li>
              <li>Alta satisfacción del paciente.</li>
              <li>Trata múltiples áreas del cuerpo simultaneamente</li>
              <li>Protocolos de tratamiento personalizados.</li>
            </ul>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Especificaciones</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <dl class="row">
              <dt class="col-sm-3">Tecnología</dt>
              <dd class="col-sm-9">Monopolar Radio Frequency (RF)</dd>
              <dt class="col-sm-3">Frecuencia</dt>
              <dd class="col-sm-9">1 MHz / 2 MHz</dd>
              <dt class="col-sm-3">Poder maximo</dt>
              <dd class="col-sm-9">150 W / 300 W</dd>
              <dt class="col-sm-3">Area de tratamiento</dt>
              <dd class="col-sm-9">16 cm<sup>2</sup> / Up to 300 cm<sup>2</sup></dd>
              <dt class="col-sm-3">Dimensiones de la consola</dt>
              <dd class="col-sm-9">14"W x 17.5"L x 41.5"H</dd>
              <dt class="col-sm-3">Peso de la consola</dt>
              <dd class="col-sm-9">86 lbs </dd>
              <dt class="col-sm-3">Consola electrica</dt>
              <dd class="col-sm-9">Voltage: 100 VAC-240 VAC 50/60 Hz, Power: 2000 VA</dd>
            </dl>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</div> -->
<div class="container mt-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen6/TRUSCULPT 2.png" alt="">
    <br>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label>
          Descripción General
        </ng-template>
        <ng-template matTabContent>
          <div class="container">
            <p class="mt-3">La última tecnología de escultura corporal, un equipo de radio frecuencia tope de gama
              que le brinda una solución personalizada para resultados clínicamente comprobados. TruSculpt® iD trata
              todo el tejido adiposo de una manera cómoda y segura, obteniendo una reducción promedio de 24% de grasa
              corporal en una sola sesión.
            </p>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Característicias
        </ng-template>
        <ng-template matTabContent>
          <div class="container">
            <ul>
              <li>Promedio de reducción de grasa del 24%.</li>
              <li>Resultados clínicamente probados para destrucción permanente de células de grasa.</li>
              <li>Control de temperatura en tiempo real para resultados consistentes.</li>
              <li>Rápidos protocolos de tratamiento.</li>
              <li>Seguridad mejorada.</li>
              <li>Alta satisfacción del paciente.</li>
              <li>Trata múltiples áreas del cuerpo simultaneamente</li>
              <li>Protocolos de tratamiento personalizados.</li>
            </ul>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Especificaciones
        </ng-template>
        <ng-template matTabContent>
          <div class="container">
            <dl class="row">
              <dt class="col-sm-3">Tecnología</dt>
              <dd class="col-sm-9">Monopolar Radio Frequency (RF)</dd>
              <dt class="col-sm-3">Frecuencia</dt>
              <dd class="col-sm-9">1 MHz / 2 MHz</dd>
              <dt class="col-sm-3">Poder maximo</dt>
              <dd class="col-sm-9">150 W / 300 W</dd>
              <dt class="col-sm-3">Area de tratamiento</dt>
              <dd class="col-sm-9">16 cm<sup>2</sup> / Up to 300 cm<sup>2</sup></dd>
              <dt class="col-sm-3">Dimensiones de la consola</dt>
              <dd class="col-sm-9">14"W x 17.5"L x 41.5"H</dd>
              <dt class="col-sm-3">Peso de la consola</dt>
              <dd class="col-sm-9">86 lbs </dd>
              <dt class="col-sm-3">Consola electrica</dt>
              <dd class="col-sm-9">Voltage: 100 VAC-240 VAC 50/60 Hz, Power: 2000 VA</dd>
            </dl>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>