/* body{
    font-family: 'Francois One', sans-serif;
}
*{
    font-family: 'Francois One', sans-serif;
} */

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    color: white;
    background-color: #8ac97e;
    font-size: 1.1rem;
    padding-bottom: 0;
}