<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer pb-0">
    <div class="container poppins">
        <br>
        <p class="text-center">&copy; 2019 Skinmedical</p>
        <p class="text-center">Nos interesa conocer su opinión. Para cualquier sugerencia, inquietud o reclamo puede
            comunicarse con nosotros.</p>
        <p class="text-center">Teléfono : 01 (81) 8335-0299 / 0296</p>
        <p class="text-center">Email : contacto@skinmedical.com.mx</p>
        <p class="text-center">Dirección : Padre Mier #319 sur Col. San Francisco, San Pedro Garza García, N.L</p>
        <p class="text-center" style="margin: 0">
            <a href="https://www.facebook.com/skinmedicalmx/"><img class="pr-3" src="assets/images/facebook.png" alt=""></a>
            <a href="https://twitter.com/SkinmedicalMX"><img src="assets/images/twiter.png" alt=""></a>
        </p>
    </div>
</footer>
<app-test></app-test>