<div id="trusculpt" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen4/JULIET.png" alt="">
    <mat-tab-group class="mt-3" style="min-height: 100vh;" mat-align-tabs="center">
      <mat-tab label="Información">
        <ng-template matTabContent>
          <p class="mt-3 pl-5 poppins">El tratamiento con láser Juliet tiene lugar con un erbio: el láser YAG, la mejor opción de
            tratamiento por sus características técnicas únicas, con un riesgo de efectos secundarios muy bajo y un
            tiempo de recuperación mínimo.
          </p>
          <legend class="pl-5 poppins">Características</legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>La mejor longitud de onda para los tratamientos intravaginales.</li>
            <li>La elevada absorción del agua minimiza los efectos secundarios.</li>
            <li>Longitud de pulso ajustable para un tratamiento ablativo y térmico</li>
            <li>Maximiza los resultados y reduce el número de sesiones a dos.</li>
            <li>Diversas aplicaciones posibles.</li>
            <li>Amplia gama de piezas de mano y aplicaciones en ginecología.</li>
            <li>Fácil de usar y con una interfaz intuitiva.</li>
            <li>Tratamientos rápidos menos de 15 minutos.</li>
          </ul>
          <legend class="pl-5 poppins">Aplicadores</legend>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">INTRAVAGINAL</li>
            <li class="list-inline-item">Steri-Spot con espejo reflector dorado de 90°, UN SOLO USO <br> V-Spot con espejo
              reflector dorado de 90° o 360°, VARIOS USOS</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">FRACCIONADO</li>
            <li class="list-inline-item">MicroSpot 13 x 13 mm con tasa de cobertura variable</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">ABLATIVO</li>
            <li class="list-inline-item">Vario TEAM 1-6 mm con tasa de cobertura variable</li>
          </ul>
          <legend class="pl-5 poppins">Especificaciones</legend>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Sistema</li>
            <li class="list-inline-item">MCL31 Dermablate</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Láser</li>
            <li class="list-inline-item">Er:YAG,Clase 4</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Longitud de onda</li>
            <li class="list-inline-item">2.940 nm</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Energía</li>
            <li class="list-inline-item">hasta 2,5 J</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Fluencia</li>
            <li class="list-inline-item">hasta 250 J /cm<sup>2</sup></li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Duración del pulso</li>
            <li class="list-inline-item">100 - 1.000 µs, ajustable</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Frecuencia</li>
            <li class="list-inline-item">1 - 20 Hz</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Modos</li>
            <li class="list-inline-item">Gyn C, Gyn W, Ablation, Therm, MicroSpot</li>
          </ul>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>