<div id="trusculpt" class="container mt-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen5/CUTERA_2.png" alt="">
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a href="#descripcion" class="nav-link tabs-cutera active" data-toggle="tab">Descripción General</a>
      </li>
      <li class="nav-item">
        <a href="#caracteristicas" class="nav-link tabs-cutera" data-toggle="tab">Características</a>
      </li>
      <li class="nav-item">
        <a href="#tratamientos" class="nav-link tabs-cutera" data-toggle="tab">Tratamientos</a>
      </li>
      <li class="nav-item">
        <a href="#resultados" class="nav-link tabs-cutera" data-toggle="tab">Resultados</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="descripcion">
        <div class="container">
          <p class="mt-3">Las mejores tecnologías para aplicaciones estéticas y médicas, en una sola
            Plataforma.
          </p>
          <p class="mt-3">La Plataforma Xeo es el verdadero motor de una clínica dermato - estética, se
            distingue por su capacidad de control preciso de los parámetros principales a
            todos los niveles terapéuticos, elemento fundamental para lograr tratamientos satisfactorios
          </p>
        </div>
      </div>
      <div class="tab-pane fade" id="caracteristicas">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="mt-3">LÁSER + LUZ Y MUCHO MÁS</p>
              <p class="mt-3">Piezas de mano multifuncionales, XEO puede
                realizar más de veinte procedimientos estéticos.
              </p>
              <p class="text-center"><img class="" src="assets/images/carusel1/imagen5/CUTERA_3.png" alt=""></p>
            </div>
            <div class="col">
              <p style="font-weight: bold; font-size: 1.2rem;">Láser de Nd:Yag: 1064 nm:</p>
              <p style="font-size: 1.2rem;">Cool Glide: Vascular facial - corporal</p>
              <p style="font-size: 1.2rem;">Laser Genesis: Rejuvenecimiento - Vascular- Onicomicosis - Depilación.</p>
              <p style="font-weight: bold; font-size: 1.2rem;">Luz Pulsada Inteligente:</p>
              <p style="font-size: 1.2rem;">520 -1100 nm: Limelight</p>
              <p style="font-size: 1.2rem;">680-1100 nm: ProWave LX</p>
              <p style="font-size: 1.2rem;">600- 1100 nm: Prowave</p>
              <p style="font-size: 1.2rem;">500-635 nm: Acutip</p>
              <p style="font-size: 1.2rem;">1100 – 1800 nm:Titan</p>
              <p style="font-weight: bold; font-size: 1.2rem;">Laser YSGG de 2790 nm:</p>
              <p style="font-size: 1.2rem;">Pearl / Pearl fracciona</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tratamientos">

        <div class="row">
          <div class="col">
            <p style="font-weight:bold;">Médicos</p>
            <ul>
              <li>Rosácea.</li>
              <li>Telangiectasias.</li>
              <li>Flebectasias.</li>
              <li>Neovascularización.</li>
              <li>Angiomas (Cherry/Spider).</li>
              <li>Lagos venosos.</li>
              <li>Lentigos Solares</li>
            </ul>
          </div>
          <div class="col">
            <p style="font-weight:bold;">Estéticos</p>
            <ul>
              <li>Depilación permanente (Láser/IPL).</li>
              <li>Rejuvenecimiento no ablativo (Genesis).</li>
              <li>Rejuvenecimiento ablativo (Pearl fraccional).</li>
              <li>Cicatrices de acné (Pearl).</li>
              <li>Flacidez cutánea (Titan).</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="tab-pane fade container" id="resultados">
        <div class="row pt-5">
          <div class="col">
            <p class="text-center">
              <img src="assets/images/carusel1/imagen5/CUTERA_4.png" alt="">
            </p>
          </div>
          <div class="col">
            <p class="text-center">
              <img src="assets/images/carusel1/imagen5/CUTERA_5.png" alt="">
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-center">
              <img src="assets/images/carusel1/imagen5/CUTERA_6.png" alt="">
            </p>
          </div>
          <div class="col">
            <p class="text-center">
              <img src="assets/images/carusel1/imagen5/CUTERA_7.png" alt="">
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>