<div id="trusculpt" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen5/CUTERA_2.png" alt="">
    <mat-tab-group class="mt-3" style="min-height: 100vh;" mat-align-tabs="center">
      <mat-tab label="Información">
        <ng-template matTabContent>
          <p class="mt-5 pl-5 poppins">Las mejores tecnologías para aplicaciones estéticas y médicas, en una sola
            Plataforma.
          </p>
          <p class="pl-5 poppins">La Plataforma Xeo es el verdadero motor de una clínica dermato - estética, se
            distingue por su capacidad de control preciso de los parámetros principales a
            todos los niveles terapéuticos, elemento fundamental para lograr tratamientos satisfactorios
          </p>
          <legend class="pl-5 poppins">Características</legend>
          <p class="pl-5 poppins">LÁSER + LUZ Y MUCHO MÁS</p>
          <p class="pl-5 poppins">Piezas de mano multifuncionales, XEO puede
            realizar más de veinte procedimientos estéticos.</p>
          <p class="text-center"><img class="" src="assets/images/carusel1/imagen5/CUTERA_3.png" alt=""></p>
          <legend class="pl-5 poppins">Especificaciones</legend>
          <ul style="list-style: none;" class="mt-4 ml-5 poppins">
            <li class="font-weight-bold">Láser de Nd:Yag: 1064 nm:</li>
            <ul class="pt-3 ml-5 poppins">
              <li>Cool Glide: Vascular facial - corporal</li>
              <li>Laser Genesis: Rejuvenecimiento - Vascular- Onicomicosis - Depilación.</li>
            </ul>
            <li class="font-weight-bold pt-3">Luz Pulsada Inteligente:</li>
            <ul class="pt-3 ml-5 poppins">
              <li>520 -1100 nm: Limelight</li>
              <li>680-1100 nm: ProWave LX</li>
              <li>600- 1100 nm: Prowave</li>
              <li>500-635 nm: Acutip</li>
              <li>1100 – 1800 nm:Titan</li>
            </ul>
            <li class="font-weight-bold pt-3">Laser YSGG de 2790 nm:</li>
            <ul class="pt-3 ml-5 poppins">
              <li>Pearl / Pearl fracciona</li>
            </ul>
          </ul>
          <legend class="pl-5 poppins">Tratamientos</legend>
          <ul style="list-style: none;" class="mt-4 ml-5 poppins">
            <li class="font-weight-bold">Médicos</li>
            <ul class="pt-3 ml-5 poppins">
              <li>Rosácea.</li>
              <li>Telangiectasias.</li>
              <li>Flebectasias.</li>
              <li>Neovascularización.</li>
              <li>Angiomas (Cherry/Spider).</li>
              <li>Lagos venosos.</li>
              <li>Lentigos Solares</li>
            </ul>
            <li class="font-weight-bold pt-3">Estéticos</li>
            <ul class="pt-3 ml-5 poppins">
              <li>Depilación permanente (Láser/IPL).</li>
              <li>Rejuvenecimiento no ablativo (Genesis).</li>
              <li>Rejuvenecimiento ablativo (Pearl fraccional).</li>
              <li>Cicatrices de acné (Pearl).</li>
              <li>Flacidez cutánea (Titan).</li>
            </ul>
          </ul>
          <legend class="pl-5 poppins">Resultados</legend>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-50"><img src="assets/images/carusel1/imagen5/CUTERA_4.png" alt=""></li>
            <li class="list-inline-item"><img src="assets/images/carusel1/imagen5/CUTERA_5.png" alt=""></li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-50"><img src="assets/images/carusel1/imagen5/CUTERA_6.png" alt=""></li>
            <li class="list-inline-item"><img src="assets/images/carusel1/imagen5/CUTERA_7.png" alt=""></li>
          </ul>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    
  </mat-card>
</div>