<div id="quadrostar" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carousel2/quadrostar_rect.png" alt="">
    <mat-tab-group class="mt-3" style="min-height: 110vh;" mat-align-tabs="center">
      <mat-tab label="Informacion">
        <ng-template matTabContent>
          <p class="poppins pl-5 mt-5">Manchas de vino, pequeños hemangiomas, venas dilatadas o cuperosis: existen
            muchos
            cambios vasculares y muchas personas los
            sufren. El QuadroStarPRO <sup>GREEN</sup> con 532 nm y el QuadroStarPRO <sup>YELLOW</sup> con 577 nm
            disponen de la longitud de
            onda ideal para tratar las
            lesiones vasculares. El escáner con enfriamiento de la piel integrado permite también una terapia más rápida
            de zonas de eritema,
            reduciendo así los efectos secundarios y acortando la fase de regeneración.</p>
          <legend class="pl-5 poppins">Ventajas</legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Gran rendimiento y fiabilidad</li>
            <li>Máxima absorción de hemoglobina (577 nm)</li>
            <li>Menor absorción de melanina para reducir los efectos secundarios (577 nm)</li>
            <li>Escáner disponible con enfriamiento integrado de la piel (532 nm & 577 nm)</li>
            <li>Perfil de haz homogéneo para la mayor precisión</li>
            <li>Sistemas pequeños, compactos y ligeros</li>
            <li>Sin consumibles</li>
            <li>Maletín de transporte disponible</li>
          </ul>
        </ng-template>
      </mat-tab>
      <mat-tab label="Campos de aplicacion">
        <ng-template matTabContent>
          <div class="container-fluid pt-5">
            <div class="row">
              <div class="col">
                <p class="quadsize text-center">577nm</p>
              </div>
              <div class="col">
                <p class="quadsize text-center">532nm</p>
              </div>
              <div class="col">
                <p class="quadsize text-center">940nm</p>
              </div>
              <div class="col">
                <p class="quadsize text-center">980nm</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <legend class="poppins" style="color: white; background-color: #ffc107">QuadroStarPRO <sup>YELLOW</sup>
                </legend>
              </div>
              <div class="col">
                <legend class="poppins" style="color: white; background-color: #aed26e">QuadroStarPRO <sup>GREEN</sup>
                </legend>
              </div>
              <div class="col">
                <legend class="poppins" style="color: white; background-color: red;">QuadroStarPRO <sup>940</sup>
                </legend>
              </div>
              <div class="col">
                <legend class="poppins" style="color: white; background-color: red;">QuadroStarPRO <sup>980</sup>
                </legend>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <p class="poppins text-center" style="border-bottom:1px solid gray; ">
                  Lesiones vasculares y pigmentarias superficiales</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <p class="poppins text-center" style="border-bottom:1px solid gray; ">
                      Intervenciones
                      endovasculares</p>
                  </div>
                  <div class="col">
                    <p class="poppins text-center" style="border-bottom:1px solid gray;">
                      Lipólisis láser</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins text-center" style="border-bottom:1px solid gray;">
                  Telangiectasias, cuperosis, arañas vasculares</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <p class="poppins text-center" style="border-bottom:1px solid gray;">
                      Tratamiento de uñas</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins text-center" style="border-bottom:1px solid gray;">
                  Angiomas eruptivos, angiomas del borde del labio</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col"></div>
                  <div class="col"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins text-center" style="border-bottom:1px solid gray;">
                  Pequeños hemangiomas, manchas de vino, venas varicosas</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col"></div>
                  <div class="col"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="poppins text-center" style="border-bottom:1px solid gray;">
                  Verrugas, hiperplasia de las glándulas sebáceas, lentigos</p>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col"></div>
                  <div class="col"></div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Especificaciones Tecnicas">
        <ng-template matTabContent>
          <table class="table mt-5 poppins table-striped table-hover">
            <tbody>
              <tr>
                <td style="font-weight: bold;">Sistemas</td>
                <td>QuadroStarPRO YELLOW, QuadroStarPRO GREEN, QuadroStarPRO 940 y QuadroStarPRO 980</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Láser</td>
                <td>HOPSL (577 nm, 532 nm) clase 4</td>
              </tr>
              <tr>
                <td></td>
                <td>Diodo (940 nm, 980 nm)</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Potencia</td>
                <td>Máx. 5 vatios @ 577 nm</td>
              </tr>
              <tr>
                <td></td>
                <td>Máx. 8 vatios @ 532 nm</td>
              </tr>
              <tr>
                <td></td>
                <td>Máx. 30 vatios @ 940 nm</td>
              </tr>
              <tr>
                <td></td>
                <td>Máx. 30 vatios @ 980 nm</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Duración del pulso</td>
                <td>1 ms – 95 s o CW</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Frecuencia</td>
                <td>0,5 Hz – 100 Hz </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Modos de funcionamiento</td>
                <td>Basic, Expert, Scan, Burst, Varix, CW</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Tamaño del spot</td>
                <td>HOPSL:   Estandar 1mm, Opcional 0.5; 1.5; 2.8 mm</td>
              </tr>
              <tr>
                <td></td>
                <td>Diodo Bare Fiber: Pieza de mano 3.5mm</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Escáner (opcional)</td>
                <td>Tamaño del spot 1mm</td>
              </tr>
              <tr>
                <td></td>
                <td>Superficie de escaneo max 15mm x 15 mm</td>
              </tr>
              <tr>
                <td></td>
                <td>Densidad de escaneo 100%/80%/60%</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Pantalla</td>
                <td>5.7" táctil</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Dimensiones</td>
                <td>42 cm x 38 cm x 19 cm</td>
              </tr>
              <tr>
                <td style="font-weight: bold;">Peso</td>
                <td>&lt;15Kg</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
<!-- #DDB54F -->
<!-- #CCA032 -->