#spider, #spider mat-card{
    min-height: 100vh;
}

#spider .mat-tab-label{
    font-size: 1.5rem;
    opacity: 1.0;
}

#spider .mat-tab-label-active{
    background-color: #3a0000;
    color: white;
}