<div id="mtone" class="container-fluid mt-3 mb-3">
  <mat-card>
    <!-- <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen2/ENDYMEDPRO.png" alt=""> -->
    <mat-tab-group class="mt-3" style="min-height: 110vh;" mat-align-tabs="center">
      <mat-tab label="Informacion">
        <ng-template matTabContent>
          <legend class="mt-5 pl-5 poppins">MTONE: PLATAFORMA "ALL IN ONE" EXPANDIBLE DE ACUERDO A TUS NECESIDADES
          </legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Tecnologías LASER e IPL disponibles en la misma plataforma.</li>
            <li>ZUB ZERO EFFECT Sistema de enfriamiento A -12º C, enfria y anestesia los receptores de dolor para un
              máximo comfort de sus pacientes.</li>
            <li>IPL con tecnología APC (Adaptative Pulse Control) Entrega energía homogénea durante la duración del
              pulso, evitándo picos de energía que pueden ser peligrosos para fototipos oscuros.</li>
          </ul>
          <img class="d-block mx-auto" src="assets/images/carusel1/mtone_1.png" alt="">
          <table class="table mb-5 poppins table-striped table-hover">
            <thead>
              <tr class="table-primary">
                <th scope="col">Logitud de onda y aplicaciones</th>
                <th scope="col">Pieza de mano</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AC 415-950 nm Acné Inflamatorio (Acné Vulgaris Fototipos del I al Vl )</td>
                <td style="font-weight: bold;">IPL</td>
              </tr>
              <tr>
                <td>VL-PL- 535-950 nm Lesiones vasculares y pigmentadas (Fototipos del I al VI )</td>
                <td style="font-weight: bold;">IPL</td>
              </tr>
              <tr>
                <td>HR 580- 950 nm Depilación permanente (Fototipos I-VI)</td>
                <td style="font-weight: bold;">IPL</td>
              </tr>
              <tr>
                <td>HR 635- 950 nm Depilación permanente (fototipos I-VI)</td>
                <td style="font-weight: bold;">IPL</td>
              </tr>
              <tr>
                <td>808 nm Laser diodo Depilación permanente (Fototipos I al VI)</td>
                <td style="font-weight: bold;">LASER</td>
              </tr>
              <tr>
                <td>1064 nm Laser Nd:Yag Depilación, lesiones vasculares, mejora del tono, reducción de poros y mas.
                </td>
                <td style="font-weight: bold;">LASER</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-tab>
      <mat-tab label="IPL">
        <ng-template matTabContent>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <ul class="poppins mt-5" style="padding-left: 4rem;">
                  <li>AC 415-950 nm Acné Inflamatorio (Acné Vulgaris Fototipod del I al Vl).</li>
                  <li>VL-PL 535-950 nm Lesiones vasculares y pigmentadas (Fototipos del I al VI)</li>
                  <li>HR 635- 950 nm Depilación permanente (fototipos I-VI)</li>
                  <li>HR 580- 950 nm Depilación permanente (Fototipos I-VI)</li>
                </ul>
              </div>
              <div class="col">
                <img class="d-block mx-auto mt-5" src="assets/images/carusel1/mtone_2.png" alt="">
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="LASER">
        <ng-template matTabContent>
          <div class="container-fluid">
            <div class="row">
              <div class="col"><img class="d-block mx-auto mt-5" src="assets/images/carusel1/mtone_3.png" alt=""></div>
              <div class="col">
                <legend class="mt-5 pl-5 poppins">LASER Nd: YAG 1064 nm
                </legend>
                <ul class="poppins mt-5" style="padding-left: 4rem;">
                  <li>Rosasea/ Rojeces difusas</li>
                  <li>Facial laser</li>
                  <li>Reducción de cicatrices</li>
                  <li>Reducción de arrugas</li>
                  <li>Reducción de los poros</li>
                  <li>Lesiones vasculares y arañitas</li>
                  <li>Angiomas</li>
                  <li>Poikiloderma de Civatte</li>
                  <li>Depilación permanente (Fototipos del I- VI)</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col"><img class="d-block mx-auto mt-5" src="assets/images/carusel1/mtone_4.png" alt=""></div>
              <div class="col">
                <legend class="mt-5 pl-5 poppins">LASER DIODO 808nm
                </legend>
                <ul class="poppins mt-5" style="padding-left: 4rem;">
                  <li>Depilación permanente (Fototipos del I- VI)</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="ESPECIFICACIONES TÉCNICAS">
        <table class="table mt-5 mb-5 poppins table-striped table-hover">
          <thead>
            <tr class="table-primary">
              <td>Pieza de mano</td>
              <td>Aplicación</td>
              <td>Fluencia J/cm<sup>2</sup></td>
              <td>Ancho de pulso mS</td>
              <td>Tamaño de spot mm<sup>2</sup></td>
              <td>Frecuencia Hz</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AC-415</td>
              <td>ACNE</td>
              <td>5-15</td>
              <td>15-100 mS</td>
              <td>16X40</td>
              <td>1.25-4</td>
            </tr>
            <tr>
              <td>VL-PL-525</td>
              <td>LESIONES VASCULARES Y PIGMENTADAS</td>
              <td>5-15</td>
              <td>15-100 mS</td>
              <td>16X40</td>
              <td>1.25-4</td>
            </tr>
            <tr>
              <td>SR-580</td>
              <td>REJUVENECIMIENTO</td>
              <td>5-15</td>
              <td>15-100 mS</td>
              <td>16X40</td>
              <td>1.25-4</td>
            </tr>
            <tr>
              <td>HR-635</td>
              <td></td>
              <td>5-15</td>
              <td>15-100 mS</td>
              <td>16X40</td>
              <td>1.25-4</td>
            </tr>
            <tr>
              <td>Diodo 808 nm</td>
              <td>Depilación permanente</td>
              <td>Hasta 90</td>
              <td>1 hasta 200</td>
              <td>12 X14</td>
              <td>Hasta 10</td>
            </tr>
            <tr>
              <td>Nd: YAG</td>
              <td>Depilación, lesiones vasculares, Reducción de cicatrices</td>
              <td>30-200</td>
              <td>Hasta 100</td>
              <td>6</td>
              <td>Hasta 1</td>
            </tr>
          </tbody>
        </table>
        <table class="table mb-5 poppins table-striped table-hover">
          <thead>
            <tr class="table-primary">
              <td>Especificaciones del equipo</td>
              <td>110-240 V; 50/60 Hz; 1250 VA </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ELECTRICAS</td>
              <td>110-240 V; 50/60 Hz; 1250 VA</td>
            </tr>
            <tr>
              <td>DIMENSIONES Y PESO</td>
              <td>59 cm Ancho x 57 cm profundidad x 65 altura<br>59 cm Ancho x 57 cm profundidad x 116.25 altura<br>58.5
                Kg sin carrito<br>87.3 Kg con carrito
              </td>
            </tr>
            <tr>
              <td>INTERFACE</td>
              <td>10-1” Pantalla “touch screen”</td>
            </tr>
            <tr>
              <td>ENFRIAMIENTO</td>
              <td>Sistema de enfriamiento peltier integrado con punta Zafiro que alcanza -12ºC</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>