/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.w-size{
    height: 100vh;
}

.tabs-trusculpt{
    color: white;
    background-color: purple;
}

.tabs-trusculpt:hover{
    color: white;
}

.tabs-mediostar{
    color: white;
    background-color: #283b73;
}

.tabs-mediostar:hover{
    color: white;
}

.tabs-endymed{
    color: white;
    background-color: #5d0b8b;
}

.tabs-endymed:hover{
    color: white;
}

.tabs-juliet{
    color: white;
    background-color: #d05273;
}

.tabs-juliet:hover{
    color: white;
}