<div id="mediostar" class="container-fluid mt-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen1/MEDIOSTAR2.png" alt=""><br>
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a href="#descripcion" class="nav-link tabs-mediostar active" data-toggle="tab">Descripción General</a>
      </li>
      <li class="nav-item">
        <a href="#caracteristicas" class="nav-link tabs-mediostar" data-toggle="tab">Característicias</a>
      </li>
      <li class="nav-item">
        <a href="#aplicadores" class="nav-link tabs-mediostar" data-toggle="tab">Aplicadores</a>
      </li>
      <li class="nav-item">
        <a href="#especificaciones" class="nav-link tabs-mediostar" data-toggle="tab">Especificaciones</a>
      </li>
      <li class="nav-item">
        <a href="#video" class="nav-link tabs-mediostar" data-toggle="tab">Video</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="descripcion">
        <div class="container">
          <p class="mt-3">La Nueva Generación de láser de diodo para depilación. Más potente, seguro, rápido y versátil.
            Mediostar Next cuenta con aplicaciones para depilación, rejuvenecimiento, blanqueamiento, acné y lesiones
            vasculares.
          </p>
        </div>
      </div>
      <div class="tab-pane fade" id="caracteristicas">
        <div class="container">
          <ul>
            <li>Tecnología Alemana, última generación de láser de diodo. Con protocolos de tratamiento incluidos para
              depilación, rejuvenecimiento, lesiones vasculares y acné.</li>
            <li>Tecnología con dos longitudes de onda incluidas 810 y 940 nm. Esta dualidad permite minimizar el riesgo
              de hiperpigmentación y trabajar todo tipo de piel.</li>
            <li>Pieza de mano vascular de 940nm disponible para tratar lesiones vasculares de 2mm aprox.</li>
            <li>Equipo con velocidad máxima de 12 HZ. Podemos realizar áreas grandes de 15-20 min.</li>
            <li>Garantía de 2 años incluida, único fabricante de láser en otorgar este plazo de protección.</li>
            <li>Alta satisfacción del paciente.</li>
            <li>Pieza de mano con capacidad de extender su garantía hasta 3 años. Vida del maneral de 15 Millones de
              disparos, la más alta en el mercado para una pieza con láser de diodo.</li>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="aplicadores">
        <div class="container">
          <p>Estándar</p>
          <p>STD(estándar): Depilación, Acné, Rejuvenecimiento (Blanqueamiento y Skin Tightening)</p>
          <ul>
            <li>Tamaño de spot: 14 x 10 mm<sup>2</sup>, haz de láser cuadrado y homogéneo.</li>
            <li>Fluencia máxima 44 J/cm<sup>2</sup></li>
            <li>Frecuencia máxima 4Hz en modo Profesional, con SmoothPulse máxima 12 Hz.</li>
          </ul>
          <p>VAS (vascular)</p>
          <ul>
            <li>Tratamientos vasculares y telangiectasias.</li>
            <li>Tamaño de spot 3 x 4 mm² cuadrado.</li>
            <li>Fluencia máxima 210 J/cm<sup>2</sup>.</li>
            <li>Fluencia máxima 210 J/cm².</li>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="especificaciones">
        <div class="container">
          <dl class="row">
            <dt class="col-sm-3">Láser</dt>
            <dd class="col-sm-9">Diodo de alta potencia</dd>
            <dt class="col-sm-3">Longitud de onda</dt>
            <dd class="col-sm-9">800nm a 950nm</dd>
            <dt class="col-sm-3">Ancho de pulso</dt>
            <dd class="col-sm-9">Hasta 400ms</dd>
            <dt class="col-sm-3">Entrada de alimentación</dt>
            <dd class="col-sm-9">Fuente de alimentación de entrada universal de 100 - 240 VAC</dd>
            <dt class="col-sm-3">Dimensiones</dt>
            <dd class="col-sm-9">365 x 560 x 465 mm (Ancho x Profundidad x Altura)</dd>
            <dt class="col-sm-3">Peso</dt>
            <dd class="col-sm-9">35 kg</dd>
            <dt class="col-sm-3">Pieza de mano peso</dt>
            <dd class="col-sm-9">300 g</dd>
            <dt class="col-sm-3">Pantalla</dt>
            <dd class="col-sm-9">8,4 "pantalla táctil LCD</dd>
            <dt class="col-sm-3">Máxima fluencia</dt>
            <dd class="col-sm-9">STD: 47 J / cm <sup>2</sup>, VAS: 210 J / cm <sup>2</sup></dd>
            <dt class="col-sm-3">Velocidad</dt>
            <dd class="col-sm-9">4 Hz en modo básico, profesional y vascular <br> 12 Hz en modo de pulso suave (SPM)
            </dd>
            <dt class="col-sm-3">Tiempo de vida de diodos</dt>
            <dd class="col-sm-9">15 millones de disparos, con opción a recarga.</dd>
            <dt class="col-sm-3">Garantía en el sistema</dt>
            <dd class="col-sm-9">2 años</dd>
          </dl>
        </div>
      </div>
      <div class="tab-pane fade" id="video">
        <div class="text-center mt-5">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/a4RkkUzjH6c" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br><br><br>
        </div>
      </div>
    </div>
  </mat-card>
</div>