<div id="mediostar" class="container-fluid mt-3 mb-3">
  <mat-card>
    <img class="img-fluid shadow d-block mx-auto" src="assets/images/carusel1/imagen1/mediostar_monolith.jpg" alt="">
    <mat-tab-group class="mt-3" style="min-height: 100vh;" mat-align-tabs="center">
      <mat-tab label="Información">

        <ng-template matTabContent>
          <p class="mt-3 pl-5 poppins">La Nueva Generación de láser de diodo para depilación. Más potente, seguro,
            rápido y versátil.
            Mediostar Next cuenta con aplicaciones para depilación, rejuvenecimiento, blanqueamiento, acné y lesiones
            vasculares.
          </p>
          <legend class="pl-5 poppins">Características</legend>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Tecnología Alemana, última generación de láser de diodo. Con protocolos de tratamiento incluidos para
              depilación, rejuvenecimiento, lesiones vasculares y acné.</li>
            <li>Tecnología con dos longitudes de onda incluidas 810 y 940 nm. Esta dualidad permite minimizar el riesgo
              de hiperpigmentación y trabajar todo tipo de piel.</li>
            <li>Pieza de mano vascular de 940nm disponible para tratar lesiones vasculares de 2mm aprox.</li>
            <li>Equipo con velocidad máxima de 12 HZ. Podemos realizar áreas grandes de 15-20 min.</li>
            <li>Garantía de 2 años incluida, único fabricante de láser en otorgar este plazo de protección.</li>
            <li>Alta satisfacción del paciente.</li>
            <li>Pieza de mano con capacidad de extender su garantía hasta 3 años. Vida del maneral de 15 Millones de
              disparos, la más alta en el mercado para una pieza con láser de diodo.</li>
          </ul>
          <legend class="pl-5 poppins">Aplicadores</legend>
          <p class="mt-3 pl-5 poppins">Estándar</p>
          <p class="mt-3 pl-5 poppins">STD(estándar): Depilación, Acné, Rejuvenecimiento (Blanqueamiento y Skin Tightening)</p>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Tamaño de spot: 14 x 10 mm<sup>2</sup>, haz de láser cuadrado y homogéneo.</li>
            <li>Fluencia máxima 44 J/cm<sup>2</sup></li>
            <li>Frecuencia máxima 4Hz en modo Profesional, con SmoothPulse máxima 12 Hz.</li>
          </ul>
          <p class="mt-3 pl-5 poppins">VAS (vascular)</p>
          <ul class="poppins" style="padding-left: 4rem;">
            <li>Tratamientos vasculares y telangiectasias.</li>
            <li>Tamaño de spot 3 x 4 mm² cuadrado.</li>
            <li>Fluencia máxima 210 J/cm<sup>2</sup>.</li>
            <li>Fluencia máxima 210 J/cm².</li>
          </ul>
          <legend class="pl-5 poppins">Especificaciones</legend>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Láser</li>
            <li class="list-inline-item">Diodo de alta potencia</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Longitud de onda</li>
            <li class="list-inline-item">800nm a 950nm</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Ancho de pulso</li>
            <li class="list-inline-item">Hasta 400ms</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Entrada de alimentación</li>
            <li class="list-inline-item">Fuente de alimentación de entrada universal de 100 - 240 VAC</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Dimensiones</li>
            <li class="list-inline-item">365 x 560 x 465 mm (Ancho x Profundidad x Altura)</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Peso</li>
            <li class="list-inline-item">35 Kg</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Pieza de mano peso</li>
            <li class="list-inline-item">300 g</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Pantalla</li>
            <li class="list-inline-item">8,4 "pantalla táctil LCD</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Máxima fluencia</li>
            <li class="list-inline-item">STD: 47 J / cm <sup>2</sup>, VAS: 210 J / cm <sup>2</sup></li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Velocidad</li>
            <li class="list-inline-item">4 Hz en modo básico, profesional y vascular <br> 12 Hz en modo de pulso suave (SPM)</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Tiempo de vida de diodos</li>
            <li class="list-inline-item">15 millones de disparos, con opción a recarga.</li>
          </ul>
          <ul class="mt-4 ml-5 list-inline poppins">
            <li class="list-inline-item w-25 font-weight-bold">Garantía en el sistema</li>
            <li class="list-inline-item">2 años</li>
          </ul>
          <legend class="pl-5 poppins">Video</legend>
          <div class="text-center mt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/a4RkkUzjH6c" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <br><br><br>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Consulta">
        <ng-template matTabContent>
          <app-consulta></app-consulta>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    
  </mat-card>
</div>