<div class="mt-3">
  <h3 class="pl-5 pt-2 pb-5 poppins gris">Nuestros Productos</h3>

  <div id="carousel2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="products mx-auto row">
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">CAVIX</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a routerLink="/cavix"><img class="imagen" src="assets/images/carousel2/CAVIX.png" alt=""></a>
              </p>
            </div>
          </div>
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">ALQUIMIA</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/1.png" alt=""></a>
              </p>
            </div>
          </div>
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">FRAXFACE</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/2.png" alt=""></a>
              </p>
            </div>
          </div>
          <!-- <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">JANUSIII</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a routerLink="/janus"><img class="imagen" src="assets/images/carousel2/JANUSIII.png" alt=""></a>
              </p>
            </div>
          </div> -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="products mx-auto row">
          <!-- <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">FORMATK</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/FORMALIGHT.png" alt=""></a>
              </p>
            </div>
          </div> -->
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">MINIVAC</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a routerLink="/minivac"><img class="imagen" src="assets/images/carousel2/MINIVAC.png" alt=""></a>
              </p>
            </div>
          </div>
          <!-- <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">FRAXFACE</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/2.png" alt=""></a>
              </p>
            </div>
          </div> -->
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">SPIDER</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/SPAIDER.png" alt=""></a>
              </p>
            </div>
          </div>
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">EP</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/EP.png" alt=""></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="products mx-auto row">
          <!-- <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">MINIVAC</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/MINIVAC.png" alt=""></a>
              </p>
            </div>
          </div> -->
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">PICOSTAR</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/3.png" alt=""></a>
              </p>
            </div>
          </div>
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">QUADROSTARPRO</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/QUADROSTARPRO.png" alt=""></a>
              </p>
            </div>
          </div>
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">JANUSIII</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a routerLink="/janus"><img class="imagen" src="assets/images/carousel2/JANUSIII.png" alt=""></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="products mx-auto row">
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">MEDIOSTAR NEXT PRO</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/MEDIOSTAR.jpg" alt=""></a>
              </p>
            </div>

          </div>
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">STUDIO</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/STUDIO.png" alt=""></a>
              </p>
            </div>

          </div>
          <div class="col ">
            <p class="poppins text-center font-weight-bold gris" style="font-size: 1.2rem;">STUDIO</p>
            <div class="img-hover-zoom img-hover-zoom--blur">
              <p class="text-center">
                <a href=""><img class="imagen" src="assets/images/carousel2/STUDIO.png" alt=""></a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>


</div>