<form action="" class="mt-4 ml-5">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Datos de Ingreso a la página</mat-card-title>
    </mat-card-header>
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <mat-form-field class="ml-5 w-25">
        <input type="text" id="email" name="email" matInput placeholder="Ingresa tu correo electrónico" required>
      </mat-form-field>
      <button class="btn-info ml-3" mat-raised-button>Verificar Correo</button>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <mat-form-field class="ml-5 w-25">
        <input type="password" id="password" name="password" matInput placeholder="Ingresa tu contraseña" required>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="mt-4">
    <mat-card-header>
      <mat-card-title>Datos de Contacto</mat-card-title>
    </mat-card-header>
    <div class="form-group">
      <label for="telefono_fijo">Teléfono Fijo</label>
      <mat-form-field class="ml-5 w-25">
        <input type="text" name="telefono_fijo" id="telefono_fijo" matInput
          placeholder="Ingresa tu telefono fijo (opcional)">
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="telefono_movil">Teléfono móvil</label>
      <mat-form-field class="ml-5 w-25">
        <input type="text" name="telefono_movil" id="telefono_movil" matInput placeholder="Ingresa tu telefono movil"
          required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="esp">Especialidad</label>
      <mat-form-field class="ml-5 w-25">
        <select name="esp" id="esp" matNativeControl required>
          <option *ngFor="let especialidad of especialidades" [value]="especialidad.value">{{especialidad.content}}
          </option>
        </select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="razon">Interesado en</label>
      <mat-form-field class="ml-5 w-25">
        <input type="text" name="razon" id="razon" matInput placeholder="En que esta interesado?" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="pais">País</label>
      <mat-form-field class="ml-5 w-25">
        <input type="text" name="pais" id="pais" matInput placeholder="De que país proviene?" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="estado">Ciudad/Estado</label>
      <mat-form-field class="ml-5 w-25">
        <input type="estado" name="estado" id="estado" matInput placeholder="Introduzca Ciudad/Estado" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="municipio">Municipio/Delegación/Distrito</label>
      <mat-form-field class="ml-5 w-25">
        <input type="municipio" name="municipio" id="municipio" matInput
          placeholder="Introduzca Municipio/Delegación/Distrito" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="direccion">Dirección: Calle/Numero (Piso y Departamento - si corresponde)</label>
      <mat-form-field class="ml-5 w-50">
        <input type="direccion" name="direccion" id="direccion" matInput placeholder="Introduzca su direccion" required>
      </mat-form-field>
    </div>
  </mat-card>
</form>